*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.nav_bar{
    display:flex;
    justify-content: space-between;
    width: 85%px;
    max-width: 1360px;
    height: 92px;
    align-items: center;
    padding: 16px 120px ;
}
.nav_bar img{
    height: 60px;
    width: 139px;
}
.nav_bar ul{
    display: flex;
    width: 367px;
    height: 24px;
    justify-content: space-evenly;
    align-items: center;
    gap: 32;
    list-style: none;
    
}
.nav_bar ul a{ 
    text-decoration: none;
    color: black;
}
.btn{
    border: none;
    background-color: #30B868;
    padding: 12px 16px;
    color: white;
    border-radius: 4px;  
}
.bg{
    background-image: url("/assets/hero-bg.png") ;
    height: 674px;
    padding: 154px 341px;
    
}
.st_section{ 

   text-align: center;
    width: 85%px;
    max-width: 1360px;
}
.access_key button{ 
    color: #30B868;
    font-style: smoll;
    height: 19px;
    border-radius: 12px;
    border: none;
}
.st_section p{
    line-height: 24px;
    font-size: 18px;
    color: white;
}
.two_btn{
    margin-top: 120px;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 8px;

}
.primary
{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 16px; 
    border-radius: 4px;
}
.secondary{
    padding:15px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255, 255, 255);
    color: white;

}
.secondary img{
     width: 12px;
     height: 12px;
    filter: invert(2);

}