*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.nav_bar{
    display:flex;
    justify-content: space-between;
    width: 85%px;
    max-width: 1360px;
    height: 92px;
    align-items: center;
    padding: 16px 120px ;
}
.nav_bar img{
    height: 60px;
    width: 139px;
}
.nav_bar ul{
    display: flex;
    width: 367px;
    height: 24px;
    justify-content: space-evenly;
    align-items: center;
    gap: 32;
    list-style: none;
    
}
.nav_bar ul a{ 
    text-decoration: none;
    color: black;
}
.btn{
    border: none;
    background-color: #30B868;
    padding: 12px 16px;
    color: white;
    border-radius: 4px;  
}
